In [71]:
import pandas as pd
df = pd.read_csv("summer.csv")
df.head(20)

       Year    City     Sport Discipline                        Athlete  \
378    1900   Paris  Football   Football              DELBECQUE, Albert
379    1900   Paris  Football   Football                    KELECOM, R.
380    1900   Paris  Football   Football               LEBOUTTE, Marcel
381    1900   Paris  Football   Football                         LONDOT
382    1900   Paris  Football   Football                 MOREAU, Ernest
...     ...     ...       ...        ...                            ...
30297  2012  London  Football   Football        STEWART, Chelsea Blaine
30298  2012  London  Football   Football  TANCREDI, Melissa Palma Julie
30299  2012  London  Football   Football         TIMKO, Brittany Amanda
30300  2012  London  Football   Football        WILKINSON, Rhian Emilie
30301  2012  London  Football   Football             ZURRER, Emily Jane

      Country Gender     Event   Medal
378       BEL    Men  Football  Bronze
379       BEL    Men  Football  Bronze
380       BEL    Men  Football  Bronze
381       BEL    Men  Football  Bronze
382       BEL    Men  Football  Bronze
...       ...    ...       ...     ...
30297     CAN  Women  Football  Bronze
30298     CAN  Women  Football  Bronze
30299     CAN  Women  Football  Bronze
30300     CAN  Women  Football  Bronze
30301     CAN  Women  Football  Bronze

[1497 rows x 9 columns]

# Summer Olympics Data Analysis Assignment

### 1. In how many cities Summer Olympics is held so far?

In [55]:
print(len(df['City'].unique()))

22

### 2. Which sport is having most number of Gold Medals so far? (Top 5)

In [56]:
gk = df[df['Medal']=='Gold']
#print(gk)
data =[]
for event in gk['Sport'].unique():
    data.append([event,len(gk[gk['Sport']==event])])

In [57]:
dataframe = pd.DataFrame(data,columns = ['Sport','Gold Medals'])
print(dataframe.sort_values(by='Gold Medals',ascending=False).head())

         Sport  Gold Medals
0     Aquatics         1421
1    Athletics         1215
17      Rowing          890
4   Gymnastics          820
3      Fencing          552

### 3. Which sport is having most number of medals so far? (Top 5)

In [58]:
data =[]
for event in df['Sport'].unique():
    data.append([event,len(df[df['Sport']==event])])

In [59]:
dataframe = pd.DataFrame(data,columns = ['Sport','Medals'])
print(dataframe.sort_values(by='Medals',ascending=False).head())

         Sport  Medals
0     Aquatics    4170
1    Athletics    3638
17      Rowing    2667
4   Gymnastics    2307
3      Fencing    1613

### 4. Which player has won most number of medals? (Top 5)

In [60]:
data =[]
for athlete in df['Athlete'].unique():
    data.append([athlete,len(df[df['Athlete']==athlete])])
#print(data)

In [61]:
dataframe = pd.DataFrame(data,columns = ['Athlete','Medals'])
print(dataframe.sort_values(by='Medals',ascending=False).head())

                    Athlete  Medals
18640       PHELPS, Michael      22
7197       LATYNINA, Larisa      18
9948     ANDRIANOV, Nikolay      15
6591           ONO, Takashi      13
5103   MANGIAROTTI, Edoardo      13

### 5. Which player has won most number Gold Medals of medals? (Top 5)

In [62]:
gk = df[df['Medal']=='Gold']
#print(gk)
data =[]
for athlete in gk['Athlete'].unique():
    data.append([athlete,len(gk[gk['Athlete']==athlete])])

In [63]:
dataframe = pd.DataFrame(data,columns = ['Athlete','Gold Medals'])
print(dataframe.sort_values(by='Gold Medals',ascending=False).head())

               Athlete  Gold Medals
6851   PHELPS, Michael           18
3320       SPITZ, Mark            9
2714  LATYNINA, Larisa            9
4630       LEWIS, Carl            9
907       NURMI, Paavo            9

### 6. In which year India won first Gold Medal in Summer Olympics?

In [64]:
gk = df.groupby(['Country','Medal'])
gk.get_group(('IND','Gold'))['Year'].min()

1928

### 7. Which event is most popular in terms on number of players? (Top 5)

In [65]:
data =[]
for event in df['Event'].unique():
    data.append([event,len(df[df['Event']==event])])

In [66]:
dataframe = pd.DataFrame(data,columns = ['Event','Athelete'])
print(dataframe.sort_values(by='Athelete',ascending=False).head())

                Event  Athelete
80           Football      1497
176            Hockey      1422
138  Team Competition      1147
327        Basketball      1012
337          Handball       973

### 8. Which sport is having most female Gold Medalists? (Top 5)

In [67]:
gk = df[df['Medal']=='Gold']
fg = gk[gk['Gender'] == 'Women']

In [68]:
data =[]
for event in fg['Sport'].unique():
    data.append([event,len(fg[fg['Sport']==event])])

In [69]:
dataframe = pd.DataFrame(data,columns = ['Sport','Female Gold Medals'])
print(dataframe.sort_values(by='Female Gold Medals',ascending=False).head())

         Sport  Female Gold Medals
4     Aquatics                 589
7    Athletics                 389
8   Gymnastics                 268
14      Rowing                 217
11  Volleyball                 166